.gallery-wrap {
  overflow: hidden;
  position: relative;
  background-color: #F7F7F7;
}
.gallery-wrap:before {
  display: block;
  position: absolute;
  content: "";
  width: 90px;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, #ffffff, rgba(250, 250, 250, 0));
  z-index: 2;
}
.gallery-wrap:after {
  display: block;
  position: absolute;
  content: "";
  width: 90px;
  height: 100%;
  right: 0;
  top: 0;
  background-image: linear-gradient(to left, #ffffff, rgba(250, 250, 250, 0));
  z-index: 2;
}

.gallery-img-wrapper {
  position: relative;
  margin: 10px 0;
  transition: height ease 1s;
}
.gallery-img-wrapper a {
  width: 100%;
  position: absolute;
  text-align: center;
  display: none;
}
.gallery-img-wrapper a img {
  max-width: 100%;
}
.gallery-img-wrapper a.current-img {
  display: block;
  top: 0;
  left: 0;
}
.gallery-img-wrapper a.left-img {
  display: block;
  top: 0;
  left: -100%;
}
.gallery-img-wrapper a.right-img {
  display: block;
  top: 0;
  left: 100%;
}

.thumbnail-img-wrapper {
  padding: 10px 40px 8px 40px;
  overflow: hidden;
  position: relative;
  background-color: #E7E7E7;
  height: 100px;
}

.thumbnail-transform {
  transition: 0.3s;
  position: relative;
  left: 0;
  height: 100px;
}
.thumbnail-transform .thumb {
  margin: 0 5px;
  float: left;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
}
.thumbnail-transform .thumb img {
  height: 100%;
}
.thumbnail-transform .thumb.active img {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

.gallery-arrows a {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 100;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5;
}
.gallery-arrows a:hover {
  opacity: 0.6;
}

.gallery-left {
  left: 0;
  background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-left-128.png");
  background-size: 100%;
}

.gallery-right {
  right: 0;
  background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-right-128.png");
  background-size: 100%;
}

.thumb-gallery {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  z-index: 100;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5;
}
.thumb-gallery:hover {
  opacity: 0.6;
}

.thumb-left {
  left: 0;
  background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-left-128.png");
  background-size: 100%;
}

.thumb-right {
  right: 0;
  background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-right-128.png");
  background-size: 100%;
}
