.gallery {

}

.gallery-img-wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
	transition: height ease 1s;
}

.gallery-img {
	width: 515%;
	position: relative;
	transition: 1s;

	li {
		display: block;
		float: left;
		text-align: center;

		a {
			img {
				max-width: 100%;
			}
		}
	}
}

.thumbnail-img-wrapper {
	padding-top: 10px
}

.thumbnail-img {
	text-align: center;
	li {
		display: inline;
		img {
			height: 100px;
			margin: 0 5px;
		}
	}
}

.gallery-arrows {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	background-color: #555;
	z-index: 100;
	cursor: pointer;

	&:hover {
		background-color: red;
	}
}

.gallery-left {
	left: 20px;
}

.gallery-right {
	right: 20px;
}